@import './../../styles/variables';

.info {
    &__wrap {
        display: flex;
        margin-top: 32px;

        &:first-child {
            margin-top: 0;
        }

        &--detail {
            margin-top: 24px;
        }
    }

    &__title {
        $height: 40px;

        width: 140px;
        height: $height;
        color: $c-white;
        font-size: 24px;
        line-height: $height;

        text-align: center;
        background-color: $c-brand-06;
        border-radius: 100px;

        @include mobs {
            $height: 24px;

            width: 100px;
            height: $height;
            font-size: 15px;
            line-height: $height;
        }
    }

    &__cont {
        flex: 1;
        margin-left: 30px;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.5px;

        @include mobs {
            margin-top: 2px;
            margin-left: 15px;
            font-size: 15px;
            line-height: 20px;
        }

        .accent {
            vertical-align: baseline;
            font-weight: 700;
            border-bottom: 2px solid $c-26;
        }
    }

    &__detail {
        width: 100%;
        padding: 32px 56px;
        background: $c-f5;

        @include mobs {
            padding: 32px 48px;
        }

        &--title {
            padding-bottom: 16px;
            font-size: 26px;
            text-align: center;
            line-height: 1.5;
            font-weight: 600;
            border-bottom: 1px solid $c-8c;

            @include mobs {
                font-size: 14px;
                line-height: 1.4;
            }
        }

        &--text {
            font-size: 16px;
            color: $c-43;
            text-align: right;

            @include mobs {
                padding-top: 16px;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}

.detail {
    max-width: 444px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    margin: 32px auto;

    @include mobs {
        max-width: 150px;
        gap: 14px;
        grid-template-columns: 1fr;
        margin: 24px auto;
    }

    &__item {
        font-size: 22px;

        @include mobs {
            font-size: 13px;
        }

        &:nth-child(odd) {
            max-width: 230px;
        }

        &:nth-child(even) {
            max-width: 180px;
        }
    }
}
